@import "compass/css3/transition";
/**
 * Placeholder mixin
 */
@mixin placeholder {
  &::-webkit-input-placeholder { @content };
  &:-ms-input-placeholder { @content };
}

/* easy calulations */
@function cal($whatever) {
    @return $whatever *1;
}

/* pseude-element decorative triangle */
@mixin triangle($dir:"top", $size:6px, $offx:-12px, $offy:0px, $color:red) {
    content: "";
    display: block;
    position: absolute;
    top: $offy; left: $offx;
    $point:"";
    @if($dir == "top" ) {$point : "bottom";}
    @if($dir == "right" ) {$point : "left";}
    @if($dir == "bottom" ) {$point : "top";}
    @if($dir == "left" ) {$point : "right";}

    border: $size solid transparent;
    border-#{$point}-color: $color;
}


/* MAIN CONTENT STYLES */
html,body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#toplinks {
    background-color: #5885b2;
    text-align: right;
    font-size: 14px;
    line-height: 100px;
    height: 101px;
    border-bottom: 1px solid #efeff2;

    a {
        display: inline-block;
    }
    > a {
        padding: 0 40px;
        text-decoration: none;
        color: white;
        border-left: 1px solid #6991b9;
    }
    .icon {
        font-size: 12px;
    }
    #logo { float: left; margin-left: 40px;  }
    img { display: block; }
}

/* ENGINE MODE */
.mode-navigator {
    #main {
        position: absolute;
        display: block;
    }
    #editorbox, #back {
        display: none;
    }
}
.mode-editor {
    #main {
        display: none;
    }
    #toplinks {
        position: absolute; top: 0; left: 0; width: 100%; z-index: 99;
    }
    #editorbox {
        display: block;
    }
    #back {
        display: inline-block;
    }
}

/* NAVIGATOR STYLES */
#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #d6dce2;
}
#searchbox {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #efeff2;
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    padding: 15px 0 15px 40px;
}
#search {
    position: relative;
    width: 220px;
    height: 100%;
    float: left;
}
#term {
    position: absolute;
    display: inline-block;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 0 10px 0 40px; margin: 0;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    border: 1px solid #ffffff;

    @include placeholder {
        color: #ddd;
    }
}
#search button {
    position: absolute;
    display: inline-block;
    top: 0; left: 0;
    width: 40px; height: 40px;
    padding: 0; margin: 0;
    border: 0; outline: 0;
    background: none;

    .icon {
        display: inline-block;
        color: #999;
        font-size: 20px;
        line-height: 2;

        &:before { line-height: 40px; }
    }
    &:disabled .icon { color: #ddd; }
}
#clickable {
    display: none;
    float: right;
    font-size: 12px;
    line-height: 40px;
    margin-right: 40px;
    font-style: italic;
    color: #6c6c6c;
}
#menu {
    clear: both;
    float: left;
    width: 260px;
    height:100%;
    overflow-y:auto;
    &:after {
        display: block;
        content: '';
        height: 170px;
    }
}
#content {
    float: right;
    width: 75%;
    width: calc(100% - 260px);
    height: 100%;
    overflow: auto;
    background-color: #efeff2;
    padding-bottom: 170px;
    &:after {
        display: block;
        content: '';
        height: 170px;
    }
}
#thumbsbox{
    padding: 0 30px;
}
#thumbsboxfilter {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 40px;
    color: #333;
    padding: 0 10px;
}
.thumbs {
    position: relative;
    overflow: hidden;
}
.thumb {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 700px) {
  .thumb {
    width: 100%;
  }
}
@media (min-width: 701px) and (max-width: 980px) {
  .thumb {
    width: 40%;
    width: calc(50% - 20px);
    &:nth-of-type(2n+1){ clear: both; }
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  .thumb {
    width: 30%;
    width: calc(33.333% - 20px);
    &:nth-of-type(3n+1){ clear: both; }
  }
}
@media (min-width: 1201px)  and (max-width: 1500px) {
  .thumb {
    width: 20%;
    width: calc(25% - 20px);
    &:nth-of-type(4n+1){ clear: both; }
  }
}
@media (min-width: 1501px) {
  .thumb {
    width: 15%;
    width: calc(20% - 20px);
    &:nth-of-type(5n+1){ clear: both; }
  }
}

figure > a {
    display: block;
    width: 100%;
}
figure img {
    display: block;
    width: 100%;
    height: auto;
}
figcaption {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: #595c60;
    padding: 15px 90px 15px 15px;
    border-top: 1px solid #efeff2;
    cursor: text;

    figure.editable & {
        // background-color: #f1f1f1;
    }
    p {
        font-size: 12px;
        line-height: 15px;
    }
    .thumbinfoikon {
        display: block;
        position: absolute;
        width: 59px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: white;
        cursor: pointer;

        @include transition(500ms ease background-color, 500ms ease color);

        &:before {
            font-size: 16px;
            width: 100%;
            text-align: center;
        }
    }
}
.fulltext {
    position: absolute;
    width: 100%;
    max-height: 0;
    bottom: 60px;
    left: 0;
    padding: 0 30px 0 20px;
    font-size: 12px;
    line-height: 15px;
    background-color: white;
    overflow: auto;
    opacity: 0;

    @include transition(500ms ease max-height, 500ms ease padding, 500ms ease opacity);

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        width: 8px;
        background-color: #d6dce2;
    }
    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: #5885b2;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #595c60;
    }
}
figcaption.showing {
    .fulltext {
        max-height: 350%; /* 3.5 times figcaption */
        padding: 20px 30px 20px 20px;
        opacity: 1;
        strong, b {
            font-weight: bold;
        }
        em, i {
            font-style: italic;
        }
        small, sub, sup {
            font-size: .83em;
            line-height: 1;
        }
        sub {
            vertical-align: sub;
        }
        sup {
            vertical-align: super;
        }
    }

    .thumbinfoikon {
        background-color: #5885b2;
    }

    .thumbinfoikon:after {
        @include triangle(bottom, 8px, 22px, -1px, white);
    }
}

.filter {
    display: block; width: 100%;

    padding: 0 0 0 20px;
    margin: auto;
    font-size: 14px;
    line-height: 40px;
    font-family: Arial;
    text-decoration: none;

    background: none;
    background-color: #d6dce2;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #efeff4;
    color: #595c60;

    @include transition(500ms ease background-color, 500ms ease color);
}
.filter.active,.filter:hover { color: #595c60; background-color: #ced3d9; }
.filter.filter-chapter {
    padding-left: 40px;
    color: #595c60;
    background-color: #f3f5f6;
}
.filter.filter-chapter.active,.filter.filter-chapter:hover { color: #595c60; background-color: #e3e5e5; }

/* EDITOR STYLES */
#editorbox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
#editorloading {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background: white url(spinner.gif) no-repeat 50% 150px;
    z-index: 100;
}
#editor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 101px; /* header */
}
.actions {
    position: absolute;
    top: 121px;
    left: 20px;

    background-color: #c5ced7;
    width: 80px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;

    .action {
        display: block;
        width: 60px;
        height: 60px;
        //padding: 10px;
        margin: 2px auto;
        font-size: 18px;
        //font-family: Arial;
        text-decoration: none;

        // reset background/color/border
        background: none;
        border: 0;
        outline: 0;
        //border-top: 1px solid #fff;
        //border-bottom: 1px solid #999;
        border-radius: 3px;
        color: #999;
        cursor: pointer;

        @include transition(500ms ease background-color, 500ms ease color);

        &:disabled { background-color: #e9e9e9; color: #bcbcbc; cursor: default; }
    }
    .active-button {
        background-color: #fafafa;
    }
}
.actions---sec {
    background-color: #ffffff;

    .orientation-land & {
        left: auto;
        right: 20px;
    }
    .orientation-vert & {
        top: 650px;
    }
}
#subactions {
    position: absolute;
    width: 80px;
    top: 121px;
    left: 100px;

    padding: 0;
    background-color: white;
    border-radius: 3px;

    text-align: center;
    text-transform: uppercase;

    .fontselector {
        display: block;
        font-size: 9px;
        line-height: 12px;
        text-transform: none;
        text-decoration: none;
        color: #d6dce2;
    }
    .fontselector.selected {
        color: #242526;
    }

    &.active-subaction---text:after {
        @include triangle(left, 8px, -16px, 35px, white);
    }
    &.active-subaction---line:after {
        @include triangle(left, 8px, -16px, 95px, white);
    }
    &.active-subaction---arrow:after {
        @include triangle(left, 8px, -16px, 157px, white);
    }
    &.active-subaction---path:after {
        @include triangle(left, 8px, -16px, 220px, white);
    }
    &.active-subaction---rect,
    &.active-subaction---circle {
        top: 194px;
    }
    &.active-subaction---rect:after {
        @include triangle(left, 8px, -16px, 212px, white);
    }
    &.active-subaction---circle:after {
        @include triangle(left, 8px, -16px, 270px, white);
    }
    &.active-subaction---imgfilters:after {
        @include triangle(left, 8px, -16px, 400px, white);
    }
    &:after {
        @include transition(500ms ease top);
    }

    .subactions-type { display: none; }
    .subactions-type.active {
        position: relative;
        display: block;
        padding: 10px 0;

        .label {
            display: block;
            color: black;
            font-size: 8px;
        }
    }
    .subaction {
        display: block;
        vertical-align: middle;
        padding-top: 10px;
    }
    .subaction.range {
        position: relative;
        // top: 4px;
    }
    .subaction.range .label {
        position: relative;
        top: -4px;
    }
}
#editarea {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #efeff2;
    padding: 20px 0;

    .canvas-container {
        margin: auto;
        outline: 1px solid #ddd;

        .orientation-vert & {
            margin: 0 auto 0 200px;
        }
    }
    canvas {
        display: block;
        margin: 0 auto;
    }
    #originalimg.horizontal {
        //width: 100%;
        //height: auto;
    }
    #originalimg.vertical {
        //height: 100%;
        //width: auto;
    }
}
#cloned_thumb {
    visibility: hidden;
}

#cropBox {
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid red;
    width: 100%;
    height: 100%;

    .crop-limits{
        position: absolute;
        background-color: rgba(black, 0.85);
    }
    .crop-t{
        left: 0;
        top: 0;
        width: 100%;
    }
    .crop-r{
    }
    .crop-b{
        left: 0;
        width: 100%;
    }
    .crop-l{
        left: 0;
    }
}

#footercode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    text-align: right;
}