@font-face {
  font-family: "canvas";
  src: url('../../fonts/canvas.eot');
  src: url('../../fonts/canvas.eot?#iefix') format('eot'),
    url('../../fonts/canvas.woff') format('woff'),
    url('../../fonts/canvas.ttf') format('truetype'),
    url('../../fonts/canvas.svg#canvas') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
    .action & {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }
    .action:disabled & { color: #ddd; }
}

.icon:before {
  display: inline-block;
  font-family: "canvas";
  font-style: normal;
  font-weight: normal;
  line-height: 60px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-arrow:before { content: "\E001" }
.icon-circle:before { content: "\E002" }
.icon-close:before { content: "\E003" }
.icon-crop:before { content: "\E004" }
.icon-download:before { content: "\E005" }
.icon-filters:before { content: "\E006" }
.icon-free:before { content: "\E007" }
.icon-info:before { content: "\E008" }
.icon-line:before { content: "\E009" }
.icon-print:before { content: "\E00A" }
.icon-rect:before { content: "\E00B" }
.icon-redo:before { content: "\E00C" }
.icon-search:before { content: "\E00D" }
.icon-text:before { content: "\E00E" }
.icon-undo:before { content: "\E00F" }
