/* COMPASS MIXINS */
@mixin prefixer($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* -------------------------------------------------------- MODALS */
#modalbox{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 999999;

    &.opened { display: block;
        background-color: rgba(black, 0.85);
    }
    &.closed {
        display: none;
        position: absolute; /* fixes a weird bug where it was overlapping menus even if height:0 */
        background-color: rgba(black, 0);
        height: 0!important; padding: 0!important;
    }

    @include prefixer(transition, background-color);
    @include prefixer(transition-duration, .5s);
    @include prefixer(transition-timing-function, ease);
}
#modalwrap{
    position: absolute;
    top: 20%;
    left: 20%;
    clear: both;
    width: 60%;
    height: 60%;
    margin: 0;
    padding: 0;
    &:after {
        content: " "; display: block; height: 0; clear: both;
    }
    overflow: hidden;

    opacity: 1;

    @include prefixer(transition, opacity);
    @include prefixer(transition-duration, .5s);
    @include prefixer(transition-timing-function, ease);
}
#modalbox.closed #modalwrap{
    opacity: 0;
}

#modalcont{
    position: relative;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 0;
    background-color: white;
    color: black;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        width: 8px;
        background-color: #d6dce2;
    }
    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: #5885b2;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #595c60;
    }
}
#modalclosewrap {
    position: absolute;
    clear: both;
    width: 60%;
    margin: 0;
    padding: 0;
    top: 20%;
    right: 20%;
    &:after {
        content: " "; display: block; height: 0; clear: both;
    }
    opacity: 1;
}
body.modalview {
    overflow: hidden;
}
#modalbox.closed #modalclosewrap{
    opacity: 0;
}
#modalclosecont {
    position: relative;

    width: 100%;
    padding: 0;
    color: white;
}
#modalclose{
    position: absolute;
    top: -50px; right: 0;
    width: 26px; height: 26px;
    background-size: 100%;
    z-index: 9999;
    cursor: pointer;
}
#modalclose .icon { font-size: 26px; }
#modalhtml{
    padding: 40px;
    h1 {
        font-size: 18px; line-height: 20px;
        margin: 1em 0;
        text-transform: uppercase;
    }
    p, ul, ol {
        font-size: 14px; line-height: 20px;
        margin: 1em 0;
    }
    strong {
        font-weight: bold
    }
    em {
        font-style: italic;
    }
    ul {
        margin-top:0;
        list-style:disc;
        padding-left:1.5em
    }
    ol {
        margin-top:0;
        list-style:decimal;
        padding-left:1.5em
    }
    li {
        margin-bottom:.5em;
    }
    figure img {
        width:auto;
    }

    .modal-close-text { text-align: center; }
    .close-button {
        position: relative; width: 100%; height: 40px; line-height: 40px; color: red;
    }
}