/* IE8 fixes */

/* modals */
#modalbox.opened { display: block; 
    background: url(transp.png);
}
#modalbox.closed { 
    background: none;
}

/* editor */
#originalimg { z-index: 0; }
#canvas-container { 
    background-color: transparent;
    z-index: 10; 
}
.lower-canvas { 
    background-color: transparent;
    z-index: 20; 
}
.upper-canvas { 
    background-color: transparent;
    z-index: 50; 
}